@use "sass:math";
@use "../tool" as *;

/*
## #footer
使用箇所：
内容：
*/

#footer {
  margin-top: $padding1--pc;
  padding: 1em;
  color: #fff;
  text-align: center;
  background: #000;
  @include sp {
    margin-top: $padding1--sp;
  }
}
