@use "sass:math";
@use "../tool" as *;

/*
## #footer
使用箇所：
内容：
*/

#footer {
  padding: 1em;
  color: #fff;
  text-align: center;
  background: #000;
  .section_1 + & {
    margin-top: $padding1--pc;
    @include sp {
      margin-top: $padding1--sp;
    }
  }
}
