@use "sass:math";
@use "../tool" as *;

/*
## .header_2
使用箇所：
内容：
*/

.header_2 {
  position: relative;
  max-width: $width1;
  margin: 0 auto;
  &__bg {
    img {
      display: block;
      width: 100%;
      aspect-ratio: math.div(1500, 500);
      @include sp {
        height: 50vw;
        object-fit: cover;
      }
    }
  }
  &__icon {
    position: absolute;
    top: 160px;
    left: 30px;
    width: 200px;
    // margin-top: -100px;
    // padding: 0 50px;
    @include sp {
      top: px2vw2(200);
      left: px2vw2(20);
      width: px2vw2(240);
    }
    img {
      display: block;
      width: 100%;
      aspect-ratio: 1;
      border: solid 4px #000;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }
  &__1 {
    padding: 1em;
    margin-left: 240px;
    @include sp {
      margin: px2vw2(60) 0 0  px2vw2(20);
    }
  }
  .name {
    margin-bottom: .5em;
    font-size: math.div(20, 16) * 100%;
    font-weight: 700;
  }
}


/*
## #header
使用箇所：
内容：
*/

#header {
  padding: 1em;
  color: #fff;
  text-align: center;
  background: #000;
}
