
@charset "UTF-8";
/*
## #footer
使用箇所：
内容：
*/
#footer {
  margin-top: 40px;
  padding: 1em;
  color: #fff;
  text-align: center;
  background: #000;
}

/*
## .header_3
使用箇所：
内容：
*/
.header_3 {
  margin: 2em 0 1em;
  text-align: center;
}
.header_3__h1 {
  font-size: 158.3333333333%;
  font-weight: 700;
}

/*
## .header_2
使用箇所：
内容：
*/
.header_2 {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.header_2__bg img {
  display: block;
  width: 100%;
  aspect-ratio: 3;
}
.header_2 nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.header_2 nav ul {
  display: flex;
  padding: 0.5em;
}
.header_2 nav a {
  display: block;
  padding: 0.5em 1em;
}
.header_2__icon {
  position: absolute;
  top: 160px;
  left: 30px;
  width: 200px;
}
.header_2__icon img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  border: solid 4px #000;
  border-radius: 50%;
  box-sizing: border-box;
}
.header_2__1 {
  padding: 1em;
  margin-left: 240px;
}
.header_2 .name {
  margin-bottom: 0.5em;
  font-size: 125%;
  font-weight: 700;
}

/*
## #header
使用箇所：
内容：
*/
#header {
  padding: 1em;
  color: #fff;
  text-align: center;
  background: #000;
}

/*
## .list_5
使用箇所：VR機材
内容：
*/
.list_5 {
  padding: 1em;
}
.list_5 li {
  text-indent: -1em;
  padding-left: 1em;
}
.list_5 li::before {
  content: "・";
}
.list_5 li + li {
  margin-top: 1em;
}

/*
## .list_4
使用箇所：
内容：
*/
.list_4 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.list_4 a {
  display: block;
}
.list_4 li {
  position: relative;
}
.list_4 li::after {
  content: var(--num);
  position: absolute;
  right: 0;
  bottom: 0;
  width: 2em;
  font-size: 75%;
  color: #fff;
  text-align: center;
  background: rgb(0, 0, 0.7);
}
.list_4 img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_1__h1 + .list_4 {
  margin-top: 1em;
}

/*
## .list_3
使用箇所：
内容：
*/
.list_3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  text-align: center;
}
.list_3 a {
  display: block;
}
.list_3 img {
  display: block;
  width: 100%;
  aspect-ratio: 1.7777777778;
}
.list_3 p {
  margin-top: 0.5em;
}
.section_1__h1 + .list_3 {
  margin-top: 1em;
}

/*
## .list_2
使用箇所：
内容：画廊
*/
.list_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.list_2 a {
  display: block;
}
.list_2 img {
  display: block;
  width: 100%;
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}

/*
## .list_1
使用箇所：
内容：リンク集
*/
.list_1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  padding: 0 1em;
}
.list_1 a {
  display: block;
  padding: 1em;
  text-align: center;
  text-decoration: none;
  background: #000;
  border-radius: 100vw;
}

/*
## .section_1
使用箇所：
内容：
*/
.section_1 {
  padding: 0 40px;
}
.section_1__h1 {
  font-size: 150%;
  font-weight: 700;
}
.section_1 + .section_1, .wrapper_1 + .section_1 {
  margin-top: 40px;
}

/*
## .video_1
使用箇所：
内容：
*/
.video_1 iframe, .video_1 video {
  aspect-ratio: 1.7777777778;
}

.gslide-description {
  flex: unset;
}

.glightbox-clean .gprev:hover,
.glightbox-clean .gnext:hover,
.glightbox-clean .gclose:hover {
  background-color: rgb(29, 155, 240);
}
.glightbox-clean .gslide-title {
  margin-bottom: 0;
  font-family: inherit;
  color: inherit;
}
.glightbox-clean .gdesc-inner {
  padding: 1em;
}
.glightbox-clean .gslide-desc {
  margin-top: 1em;
}
.glightbox-clean .gslide-description {
  background: none;
}

.glightbox-mobile .glightbox-container .gslide-description {
  position: static;
  bottom: auto;
  padding: 0;
  max-height: none;
  background: none;
}

/*
## .container_1
*/
/*
## .wrapper_1
*/
.wrapper_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}
.wrapper_1__1 {
  padding-bottom: 2em;
}
/*
## #wrapper
使用箇所：
内容：
*/
#wrapper {
  max-width: 800px;
  margin: 0 auto;
  border: solid 4px #000;
  border-top: 0;
  border-bottom: 0;
}
@media (max-width: 767px){
  #footer {
    margin-top: 5.33vw;
  }
  .header_2__bg img {
    height: 50vw;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .header_2__icon {
    top: 26.67vw;
    left: 2.67vw;
    width: 32vw;
  }
  .header_2__1 {
    margin: 8vw 0 0 2.67vw;
  }
  .list_4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .list_3 {
    grid-gap: 5.33vw;
  }
  .section_1 {
    padding: 0 5.33vw;
  }
  .section_1 + .section_1, .wrapper_1 + .section_1 {
    margin-top: 5.33vw;
  }
  #wrapper {
    border: 0;
  }
}
