<section id="guide" class="section_1">
  <h2 class="section_1__h1">
    Guide
  </h2>
  <ul class="list_4">
    <% guides.forEach(function(value, key) { %>
      <li style="--num: '<%= guides.length - key %>';">
        <a href="assets/img/guide/<%= value %>" target="_blank">
          <img src="assets/img/guide/<%= value %>" alt="" loading="lazy">
        </a>
      </li>
    <% }); %>
  </ul><!-- /.list_4 -->
</section><!-- /#guide.section_1 -->