<!-- <header id="header">
	<h1>ぬにふちさか</h1>
</header> -->

<header class="header_2">
	<div class="header_2__bg">
		<img src="https://pbs.twimg.com/profile_banners/3296468640/1725857866/1500x500" alt="" draggable="false">
	</div>
	<div class="header_2__icon">
		<img src="https://pbs.twimg.com/profile_images/1778446890205593600/VDgQcJLw_400x400.jpg" alt="" draggable="false">
	</div>
	<div class="header_2__1">
		<h1 class="name">
			ぬにふちさか
		</h1>
		<p class="lead">
			ENTP-A＂召喚獣＂<br>冬生まれ雪国育ち 氷属性<br>親しくなった人間の召喚に応じることがあるらしい。<br>Publicに出没する報告が多数ある。
		</p>
	</div>
</header>