<ul class="list_1">
  <li>
    <a href="https://vrchat.com/home/user/usr_342929cd-b5ee-4bfd-817f-0e4cb430abf5" target="_blank">
      <i class="fa-solid fa-vr-cardboard"></i>
      VRChat
    </a>
  </li>
  <li>
    <a href="https://cluster.mu/u/nunifuchisaka" target="_blank">
      <i class="fa-solid fa-infinity"></i>
      cluster
    </a>
  </li>
  <li>
    <a href="https://x.com/nunifuchisaka" target="_blank">
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-x-twitter"></i>
      Twitter(X)
    </a>
  </li>
  <li>
    <a href="https://www.youtube.com/@nunifuchisaka" target="_blank">
      <i class="fa-brands fa-youtube"></i>
      YouTube
    </a>
  </li>
  <li>
    <a href="https://www.tiktok.com/@nunifuchisaka" target="_blank">
      <i class="fa-brands fa-tiktok"></i>
      TikTok
    </a>
  </li>
  <li>
    <a href="https://www.instagram.com/nunifuchisaka/" target="_blank">
      <i class="fa-brands fa-instagram"></i>
      Instagram
    </a>
  </li>
  <li>
    <a href="https://marshmallow-qa.com/nunifuchisaka" target="_blank">
      <i class="fa-solid fa-envelope"></i>
      マシュマロ
    </a>
  </li>
  <li>
    <a href="https://querie.me/user/nunifuchisaka" target="_blank">
      <i class="fa-solid fa-comments"></i>
      Querie
    </a>
  </li>
  <li>
    <a href="https://github.com/Nunifuchisaka" target="_blank">
      <i class="fa-brands fa-github"></i>
      GitHub
    </a>
  </li>
  <!-- <li>
    <a href="https://nunifuchisaka.booth.pm/" target="_blank">
      <i class="fa-solid fa-store"></i>
      BOOTH
    </a>
  </li> -->
  <!-- <li>
    <a href="https://nunifuchisaka.fanbox.cc/" target="_blank">
      <i class="fa-solid fa-box"></i>
      FANBOX
    </a>
  </li> -->
  <li>
    <a href="https://www.amazon.jp/hz/wishlist/ls/29OKXLDK3U8UU?ref_=wl_share" target="_blank">
      <i class="fa-brands fa-amazon"></i>
      Amazon&nbsp;<br class="sp">欲しい物リスト
    </a>
  </li>
</ul>